div {
  align-content: center;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  cursor: pointer;
  display: grid;
  height: 57px;
  justify-content: center;
  text-align: -webkit-center;
  width: 57px;
}
