<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!--    TODO VERIFICAR LOS CHECKBOXS-->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? notificationSelection(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let columnsInfo of config" [matColumnDef]="columnsInfo.displayedColumn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsInfo.displayedColumnName}}</th>
      <td mat-cell *matCellDef="let row"> {{row[columnsInfo.displayedColumn]}} </td>
    </ng-container>

    <ng-container [matColumnDef]="'actions'">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell (click)="edit(row)" *matCellDef="let row">
        <mat-icon color="primary" class="cursor-pointer mr-2" (click)="edit(row); $event.stopPropagation()">edit</mat-icon>
        <mat-icon color="warn" class="cursor-pointer ml-2" (click)="remove(row); $event.stopPropagation()">cancel</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
