<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? notificationSelection(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let columnsInfo of config" [matColumnDef]="columnsInfo.displayedColumn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsInfo.displayedColumnName}}</th>
      <td mat-cell
          *matCellDef="let row"> {{getDisplayedColumnFormat(row[columnsInfo.displayedColumn], columnsInfo.type)}} </td>
    </ng-container>

    <ng-container [matColumnDef]="'actions'">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell (click)="edit(row)" *matCellDef="let row">
        <span *ngFor="let action of actionsList">
          <mat-icon *ngIf="action === actionsListEnum.EDIT" color="primary" class="cursor-pointer mr-1"
                    [matTooltip]="'Editar'"
                    (click)="edit(row); $event.stopPropagation()">edit
          </mat-icon>
          <mat-icon *ngIf="action === actionsListEnum.DELETE" color="warn" class="cursor-pointer ml-1"
                    [matTooltip]="'Eliminar'"
                    (click)="remove(row); $event.stopPropagation()">cancel
          </mat-icon>
           <mat-icon *ngIf="action === actionsListEnum.RESOLVE" color="primary" class="cursor-pointer ml-1"
                     [matTooltip]="'Finalizar'"
                     (click)="resolve(row); $event.stopPropagation()">check_circle
          </mat-icon>
           <mat-icon *ngIf="action === actionsListEnum.REJECT" color="warn" class="cursor-pointer ml-1"
                     [matTooltip]="'Rechazar'"
                     (click)="reject(row); $event.stopPropagation()">thumb_down_alt
          </mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
