.guy-close {
  color: #767676;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.guy-div-close {
  bottom: 0;
  position: absolute;

  label {
    color: #949393;
    font-size: 14px;
  }

}

