<div class="header">
  <button mat-icon-button class="close-button" (click)="dialogRef.close(false)">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
  <h2 class="text-center" matDialogTitle>{{data.isNew ? 'Crear Producto' : 'Editar Producto'}}</h2>
</div>

<mat-dialog-content class="mat-typography">
  <section class="max-height flex items-center">
    <div class="p-4 rounded-lg w-full">
      <form class="grid grid-cols-1 " [formGroup]="formGroup">
        <guy-form-field-input
          [label]="'Producto'"
          [control]="formGroup.controls.name"
          [type]="'text'"
          [hintText]="'Nombres del producto'"
        ></guy-form-field-input>
      </form>

      <div class="mx-w2 mt-6 float-right">
        <guy-button-loading
          [text]="'Aceptar'"
          [loading]="false"
          (clickButton)="save()"
        >
        </guy-button-loading>
      </div>
    </div>
  </section>

</mat-dialog-content>

