.center-div {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.guy-color-dark {
  color: white;
  background: linear-gradient(266.11deg, #006EAA -13.92%, #1DA2FC 115.58%);
  box-shadow: 0px 2px 4px rgba(47, 28, 118, 0.25);

  &:hover {
    background: linear-gradient(266.11deg, #015b8c -13.92%, #1DA2FC 115.58%);
  }
}

.guy-color-light {
  color: #006EAA;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(47, 28, 118, 0.25);
  border: 1.5px solid #006EAA;

  &:hover {
    background: #f6f3f3;
  }
}

mat-form-field {
  width: 100%;
}

mat-error {
  font-size: 12px;
}

button {
  border-radius: 4px !important;
  width: 100% !important;;
}
