.color-white {
  color: #FFFFFF;
}

.c-404 {
  font-weight: 700;
  font-size: 100px;
  line-height: 130px;
  padding-bottom: 8px;
}

.c-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 12px;
}

.c-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 20px;
}

.button {
  color: #577778 !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: #FFFEFE;
  height: 50px;
}
